* {
	margin: 0;
	padding: 0;
}

.clear {
	clear: both;
}

.color{
	width: 40px;
	height: 40px;
	border: 1px solid;
	display: inline-block;
	font-size: 8px;
	color: transparent;
}

.color:nth-of-type(1) {
	background-color: black;
}

.color:nth-of-type(2) {
	background-color: cadetblue;
}

.color:nth-of-type(3) {
	background-color: red;
}

.color:nth-of-type(4) {
	background-color: purple;
}

#pixel-board{
	width: calc(50 * 5px);
	margin-top: 20px;
	padding-left: 20px;
}

.pixel{
	color: transparent;
	width: 40px;
	height: 40px;
	border: 1px solid black;
	float: left;
	background-color: white;
}

button {
	margin-top: 10px;	
}
